<%- include("partials/header") %>
<div class="container mt-2 mb-5" id="main">
  <div class="container one mt-4">
   <div class="container mt-3 ml-4" id="two">
     <% if(!user.bio){ %>
       <div class="text-center">
             <h4 class="mt-5">Your Bio is empty!!! Give an identtity for your Portfolio</h4>
             <a href="/artfolio/<%=user.id%>/bio/new" class="btn btn-large btn-outline-primary mt-5">Add bio</a>
       </div>
     <% } else{ %>
        <div class="row py-2">
          <div class="col-sm-12 col-md-4">
            <div class="bioimage my-4">
              <img src="<%=user.bio.src%>" alt="profile pic" >
            </div>
          </div>
          <div class="col-sm-12 col-md-8 ">
            <div class="row mt-4">
              <div class="col-sm-12">
                <h2 class="display-4"><%=user.bio.name%></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-2 ml-1 word">
                <p><%-user.bio.desc%></p>
              </div>
            </div>
            <div class="row">
            <%  if(user.bio.phone){ %>
              <div class="col-sm-12 col-md-3 ml-1 mt-1">
                <i class="fas fa-mobile-alt"></i> <a href="tel:<%=user.bio.phone%>" class="special">Phone</a>
              </div>
            <%  } %>
          <%  if(user.bio.email){ %>
            <div class="col-sm-12 col-md-3 mt-1">
              <i class="far fa-envelope"></i> <a href="mailto:<%=user.bio.email%>" class="special">Email</a>
            </div>
          <%}%>
          <%  if(user.bio.fb){ %>
            <div class="col-sm-12 col-md-2 " id="bone">
              <a href="<%=user.bio.fb%>" class="text-reset"><i class="fab fa-facebook-f"></i></a>
            </div>
          <%  } %>
      <%  if(user.bio.insta){ %>
            <div class="col-sm-12 col-md-2" id="btwo">
              <a href="<%=user.bio.insta%>" class="text-reset"><i class="fab fa-instagram"></i></a>
            </div>
        <%  } %>
            </div>
          <div class="row my-3">
            <%  for(var i=0;i<=user.bio.link.length-1;i++){ %>
                      <div class="col-sm-12 col-md-2 yes">
                        <a href="<%=user.bio.link[i].url%>" class="btn btn-sm btn-outline-success"><%=user.bio.link[i].name%></a>
                      </div>
              <%}%>
          </div>
            <div class="row">
              <div class="col-sm-12 col-md-11 mt-2 d-flex justify-content-end">
                 <a href="/artfolio/<%=user.id%>/bio/edit" class="btn btn-sm btn-outline-primary" id="bbtn">Edit Bio</a>
              </div>
            </div>
          </div>
        </div>
     <% } %>
   </div>



  </div>
      <hr>
  <%if(user.bio){%>
    <div class="container mb-3" id="down">
      <div class="row d-flex align-items-center">
      <div class="col-sm-12 col-md-4">
        <p class="mt-3" class=""><i class="fas fa-share-square"></i> <input type="text" class="copytext" value="art-folio.herokuapp.com/<%=user.id%>/work" id="share"><span class="copy ml-1"><i class="far fa-copy"></i></span></p>

      </div>
      <div class="col-sm-12 col-md-4">
          <a href="/<%=user.id%>/work" class="btn btn-large btn-primary">Preview</a>
      </div>
        <div class="col-sm-12 col-md-4">
          <a href="/artfolio/<%=user.id%>/posts/new" class="btn btn-large btn-success">Add a new work</a>
      </div>
        </div>
    </div>
  <div class="container three">
    <div class="rowgrid">
      <% for(var i=0;i<=2;i++){%>
        <div class="column">
        <%  for(var j=i;j<=user.post.length-1;j+=3){ %>
          <div class="i">
            <img src="<%=user.post[j].src%>" alt="image-<%=i%>">
            <div class="overlay">
               <div class="text">
               <h3 class="mb-2"><%-user.post[j].title%></h3>
               decription: <p><%-user.post[j].desc%></p>
               <div class="row">
                 <div class="col-sm-3">
                   <form action="/artfolio/<%=user.id %>/posts/<%=user.post[j].id%>?_method=DELETE" method="post">
                       <button class="btn btn-sm btn-danger">DELETE</button>
                   </form>
                 </div>
                 <div class="col-sm-9">
                      <a href="/artfolio/<%=user.id%>/posts/<%=user.post[j].id%>/edit" class="btn btn-sm btn-success">EDIT</a>
                 </div>
               </div>
             </div>
            </div>
          </div>
        <%}%>
        </div>



  <%    }%>

    </div>

  </div>
  <%  } %>
</div>
<script>
  var copy = document.querySelector(".copy");
  var input = document.querySelector(".copytext");
  copy.addEventListener("click",function(){
    input.select();
    input.setSelectionRange(0, 99999);
    document.execCommand("copy");
  })
</script>






<%- include("partials/footer") %>
